* {
    box-sizing: border-box;
}

*, :after, :before {
    box-sizing: border-box;
}
  
body {
    font-family: Grenette;
    text-align: justify;
    background-color: cornflowerblue;
}

.header {
    display: flex;
    position: fixed;
    margin-top: -6.6%;
    justify-content: space-between;
    text-align: center;
    width: 100%;
}

a.inici img {
    width: 45%;
}

figure img {
    align-content: center;
    width: 10em;
    margin-left: 55%;
}

.htopnav {
    float: left;
    line-height: 120%;
    overflow: hidden;
    margin: -1%;
    background-color: rgb(178, 204, 251);
    border: 0.1em solid cornflowerblue;
    width: 102%;
    height: 100%;
}

.htopnav a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    margin-bottom: 1em;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;

    
}

.htopnav a:hover {
    background-color: white;
    color: blue;
    border-radius: 50px;
}

.leftcolumn {
    display: flex;
    flex-direction: row;
    column-count: 4; 
    justify-content: center;
    margin-top: -5%;
    margin-left: 14%;
}

h2#qui_som {
    margin-top: 10%;
    margin-bottom: -5%;
}

.leftcolumn div.card {
    width: 100%;
    margin-right: 10%;
}

.leftcolumn div.card h2{
    margin-top: -10%;
    margin-left: 5%;
    width: 100%;
}


div.card figure img {
    margin-left: 10%;
    margin-top: 1%;
}

div.card figure figcaption {
    margin-left: 40%;
    padding-top: -10%;
    width: 100%;
}


figcaption#victor {
    margin-left: -12.5%;
    margin-top: 1%;
    width: 150%;
}

figcaption#marc2 {
    margin-left: 5%;
    margin-top: 1%;
    width: 150%;
}

figure.marc1 {
    margin-top: 20%;
}


.rightcolumn {
    float: left;
    bottom: 15%;
    width: 25%;
    padding-left: 0.5em;
    margin-left: 63em;
    margin-top: -15em;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.row {
    display: flex;
}

.footer {
    display: flex;
    justify-content: center;
    border: 0.1em solid black;
    padding: 1em;
    text-align: center;
    color: white;
    background: black;
    margin-top: 140%;
}

h2 {
    font-family: Grenette;
    font-size: 200%;
    margin-top: 2em;
    padding-top: 20%;
    margin-bottom: 2%;
    margin-left: 3em;
}


h1.eslogan {
    font-family: Grenette;
    font-size: 210%;
    margin: 1%;
    margin-left: 30%;
    margin-top: 7%;
    margin-bottom: 19.5%;
}

h1 {
    font-family: Grenette;
    font-size: 210%;
}

a.inici-sessió {
    margin-left: 20%;
}

a.registre {
    margin-left: 3%;
}

.card {
    background-color: white;
    border: 0.1em solid #112c66;
    padding: 1em;
    margin-top: 16em;
}

.card-producte {
    background-color: white;
    margin-left: -280%;
    border: 0.1em solid #112c66;
    padding-left: 1em;
    text-align: center;
    padding-right: 10em;
    margin-top: 58em;
    width: 414.7%;
}

h1.ubicació-mapa {
    text-align: center;
    margin-left: 60%;
}

iframe {
    margin-left: 55%;
    margin-bottom: 10%;
}

div.card-ubi {
    background-color: white;
    margin-left: -280%;
    border: 0.1em solid #112c66;
    padding-left: 1em;
    padding-right: 40em;
    margin-top: 58em;
    width: 414.7%;
}

form div {
    padding-left: 3em;
}

div.contacte {
    margin-right: 20%;
    padding-right: 45%;
    list-style-type: none;
    display: inline-block;
}

div.contacte figure {
    text-decoration: none;
    text-align: left;
}


.inici {
    float: left;
    position: absolute;
    margin-right: 20%;
    padding: 1%;
    width: 350px; 
}

.qui-som {
    margin-left: 25%;
    margin-top: 0.60%;
}

.producte {
    margin-top: 0.60%;
}

.on-ens-trobem {
    margin-top: 0.60%;
}

.inici-sessió {
    margin-top: 0.60%;
}

.registre {
    margin-top: 0.60%;
}

img.logo {
    width: 25%;
    margin-top: -15%;
    margin-left: 38.5%;
}

#contacte figure img {
    display: inline;
    width: 32px;
}

#twitter img {
    float: left;
    margin-left: 1520%;
    margin-top: -25%;
}

#instagram img {
    float: left;
    margin-left: 1740%;
    margin-top: -100%;
}

.w-100 {
    width: 100%;
}

.d-flex {
    display: flex;
}

form {
    display: block;
    margin-top: 0em;
}

.searchbox-form_SearchBox__wrapper__6HWA_ {
    height: 48px;
    border: 1px solid #90a4ae;
    border-radius: 32px;
    overflow: hidden;
    background-color: white;
}

.align-items-center {
    align-items: center;
}

div {
    display: block;
}

.searchbox-form_SearchBox__input__kl64p {
    height: 100%;
    padding-right: 16px;
    border: 0;
    background-color: white;
    font-family: Wallie;
    font-size: 1em;
    white-space: nowrap;
}

[type=search] {
    outline-offset: -2px;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

input[type="search"] {
    appearance: auto;
    box-sizing: border-box;
    padding: 1px 2px;
}

input {
    writing-mode: horizontal-tb;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.button_Button--submit__fDE0v {
    display: flex;
    justify-content: center;
    width: 113px;
    height: 48px;
    border: 0;
    border-radius: 51px;
    background-color: rgb(36, 36, 198);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    font-weight: 700;
    font-size: 1em;
    color: #fff;
}

.button_Button__4SB6a {
    color: #fff;
    padding: 12px 20px;
    border-radius: 25px;
    transition: all .2s ease-in-out,padding 0s;
}

.align-items-center {
    align-items: center;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: white;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375em 0.75em;
    font-size: 1em;
    line-height: 1.5;
}

button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}

button {
    appearance: auto;
    writing-mode: horizontal-tb;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    margin: 0em;
    margin-left: 2em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

div form {
    margin-top: -10%;
}

.searchbox-form_SearchBox__icon--magnifier__yXxdh {
    margin-right: 2%;
}