
nav {
    background: rgba(6, 39, 226, 0.7);
    width: 100%;
    position: fixed;
    z-index: 100;
    float: left;
}

nav ul {
    list-style: none;
    overflow: hidden; 
}

nav ul li {
    float: left;
    font-family: Arial, Helvetica, sans-serif;;
    font-size: 20px;
}

nav ul li a {
    display: block; 
    padding: 20px;
    color: #fff;
    text-decoration: none;
}

nav ul li:hover {
    background: #2341ec;
}

h1{
    font-size: 100px;
}

img{
    display: block;
    width: 80%;
    margin-left: 150%;
}

div{
    width: 400px;
}

body{
    background-color: #86dafe;
}

.boton {
    border: 1px solid #2e518b; 
    padding: 10px; 
    background-color: #2e518b; 
    color: #ffffff; 
    text-decoration: none; 
    text-transform: uppercase; 
    font-family: 'Helvetica', sans-serif; 
    border-radius: 50px;  
    margin-left: 15%;  
}