*{
    margin: 0;
    padding: 0;
}

label{
    text-align: left;
 }

 th{
     width: 3%;
 }

 td{
     width: 10%;
 }

 option{
     align-content: left;
 }

 #cuerpo{
    background-image: url(./img/pexels-daniel-absi-952670.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}