*{
    margin: 0;
    padding: 0;
}

nav {
    background: rgba(6, 39, 226, 0.7);
    width: 100%;
    position: fixed;
    z-index: 100;
    float: left;
}

nav ul {
    list-style: none;
    overflow: hidden; 
}

nav ul li {
    float: left;
    font-family: Arial, Helvetica, sans-serif;;
    font-size: 20px;
}

nav ul li div  {
    padding-left: 150%;
}

li div {
    width: 420px;
}

nav ul li a {
    display: block; 
    padding: 20px;
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: white;
    color: blue;
}

#titol{
    font-size: 80px;
    text-align: center;
}

#cuerpo{
    background-image: url(./img/pexels-daniel-absi-952670.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

h2{
    text-align: left;
    padding-left: 80%;
}

img{
    width: 100px;
    align-self: left;
    padding-left: 75%;
    
}

.Gerard{
    padding-left: 2%;
}

.Roger{
    padding-left: 2%;
}

#Vic{
    float: left;
    position: absolute;
    bottom: 3%; left: 11%;
}

.Victor{
    padding-left: 680%;
}

#Mc{
    float: left;
    position: absolute;
    bottom: 43%; left: 11%;
}

.Marc{
    padding-left: 900%;
}

figure h3{
    margin: 0%;
    padding: 2%;
}

figcaption{
    margin: 0%;
    padding-bottom: 3%;
    padding-left: 5%;
}

#Ger{
    position: absolute;
    bottom: 43%; right: 30%;
    padding-right: 0%;
    margin-right: 60%;
    margin-top: 1%;
    margin-left: 1%;
}


#Rg{
    position: absolute;
    right: 90.5%; bottom: 10%;
    padding-right: 2%;
    margin-top: 1%;
    margin-left: 1%;
   
}

