* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 150vh;
    background-color: cornflowerblue;
}

header {
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 100%;
    position: fixed;
    background-color: rgb(226, 247, 255);
    min-height: 12vh;
    z-index: 2;
    
}

.nav {
    flex: 5;
    display: flex;
}

.nav ul {
    position: absolute;
    top: 2.5em; left: 10em;
    display: flex;
    width: 70%;
}

.nav ul li {
    display: flex;
    margin-left: 2%;
    width: 100%;
}

.nav ul li a{
    position: relative;
    display: flex;
    width: 100%;
    flex: 1;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}

.nav ul li a.list-element2 {
    top: 0em; left: 10em;
}

.nav ul li a.list-element {
    top: 0em; left: 1em;
}

.nav ul li a::before,
.nav ul li a::after
{
    content: '';
    border-bottom: 4px solid blue;
    position: absolute;
    opacity: 0;
    
}

.nav ul li a::before{
    bottom: -0px;
    width: 90%;
    right: 0;
}

.nav ul li a::after{
    bottom: -5px;
    width: 70%;
    left: 0;
}

.nav ul li a.activo::after,
.nav ul li a:hover::after{
    opacity: 1;
    width: 75%;
    left: 1em;
}

#img-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 2;
    width: 20%;
    margin-top: 3.3%;
    margin-left: 2%;
}



.nav ul li a.list-element:hover {
    text-decoration: none;
    color: blue;
    padding: 0em;
}

.nav ul li a.list-element2:hover {
    text-decoration: none;
    color: blue;
    padding: 0em;
}

#img-logo:hover {
    transform: scale(1.2);
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

#main {
    flex: 1;
    display: flex;
    flex-direction: row;
}

#ubicación {
    display: flex;
    flex: 1;
}

.container div.slider-wrapper {
  display: flex;
  flex: 1;
  max-width: 180em;
  max-height: 80em;
}

#footer {
    flex: 1; 
}

i.menu-icon  {
    display: none;
}

.nav div form.searchbox-form_SearchBox1 {
    display: none;
}

.nav div form div.searchbox-form_SearchBox2{
    display: block;
}

form {
    position: relative;
    top: 4.5em; right: 52.5em;
    margin-bottom: 5em;
}

button {
    position: fixed;
    top: 4.6em; left: 57em;
    writing-mode: horizontal-tb;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    margin: 0em;
    margin-left: 5em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-image: initial;
}

.button_submit {
    display: flex;
    justify-content: center;
    width: 113px;
    height: 38px;
    border: 0;
    border-radius: 51px;
    background-color: rgb(36, 36, 198);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    font-weight: 700;
    font-size: 1em;
    color: #fff;
}

.button {
    color: #fff;
    padding: 12px 20px;
    border-radius: 25px;
    transition: all .2s ease-in-out,padding 0s;
}

.align-items-center {
    align-items: center;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: white;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375em 0.75em;
    font-size: 1em;
    line-height: 1.5;
}

button, select {
    text-transform: none;
}

button, input {
    overflow: visible;
}

.searchbox-input {
    height: 100%;
    padding-right: 3px;
    border: 0;
    background-color: white;
    font-family: Wallie;
    font-size: 1em;
    white-space: nowrap;
}

[type=search] {
    outline-offset: -2px;
}


input[type="search"] {
    appearance: auto;
    box-sizing: border-box;
    padding: 12px 12px;
}

input {
    writing-mode: horizontal-tb;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}


.searchbox-form_SearchBox2 {
    height: 38px;
    border: 1px solid #90a4ae;
    border-radius: 32px;
    margin-left: 27%;
    overflow: hidden;
    background-color: white;
}

.width-100 {
    margin-left: 0%;
    width: 400%;
}

.display-flex {
    display: flex;
}

i#icon-lupa {
    position: absolute;
    left: 90em; top: 2.5em;
    display: block;
    cursor: pointer;
}

.slider-wrapper {
  max-width: 100em;
  max-height: 50em;
  margin-left: 0%;
}

.slider {
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 .25rem .5rem #21212126;
    border-radius: .5rem;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: fill;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    top: 50rem;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
}

.slider-nav a {
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: .75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}

.slider-nav-flecha {
    display: flex;
    column-gap: 1rem;
    position: relative;
    width: 100px;
    height: 50px;
    margin:0 auto;
    bottom: 35rem;
    left: 45%;
    z-index: 1;
}

.flecha1 {
    margin-left: -34.3em;
}

.animatedColor {
    color: white;
}

.slider-nav-flecha a {
    width: 100px;
    height: 50px;
    margin-top: 50%;
    font-size:20px; 
}

.slider-nav-flecha a i:hover {
    transform: scale(1.2);
}

  
  
  /* Apunta a todos los elementos h3 con clase CSS title */
  .title {
    color: black;
    font-size: 20px;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
  }
  
  /* Apunta a todos los parrafos con la clase CSS text */
  .text {
    color: black;
    font-size: 19px;
    width: 100%;
    padding: 10px;
    margin: 0, 20px;
    text-align: justify;
  }

  * Mostrar horizontalmente, poner un poco de espacio alrededor */
.flex {
  display: flex;
  justify-content: space-around;
}

/* Agregar algo de padding alrededor del contenedor. Alinear el texto al centro */
.stats {
  padding: 45px 50px;
  text-align: center;
}

/* Aplicar margen y ancho */
.stat {
  margin: 0 30px;
  text-align: center;
  width: 800px;
}

.stats .fa {
    color: blue;
}

.testimonial {
    color: black;
    padding: 40px;
    margin-top: 15em;
}

.testimonial img {
    height: 100%;
    clip-path: circle();
}

/* Alinea el texto al centro */

h2{
  position: absolute;
  top: 40em; left: 22em;
  text-align: center;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
  }



  footer.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
  }
  
  
  /* Crear una tarjeta en blanco con sombreado alrededor */
  .card {
    padding: 10px;
    padding-bottom: 50%;
    background-color: white;
    border-radius: 10px;
    box-shadow: -7px -7px 20px rgba(0, 0, 0, 0.2),
                 7px  7px 20px rgba(0, 0, 0, 0.2);
  }

  .card-1 {
    background-image: url(./img/FONTANERO-SUELDO.jpg);
    background-size: cover;
  }

  .card-2 {
    background-image: url(./img/20210222_142324_0000\ \(1\)-1616455846.webp);
    background-size: cover;
  }
  
  .card-3 {
    background-image: url(./img/cocinero.webp);
    background-size: cover;
  }

  .card-4 {
    background-image: url(./img/funciones-de-un-jardinero.jpg);
    background-size: cover;
  }

  .card-5 {
    background-image: url(./img/auto-car-repair-service-center-mechanic-examining-car-suspension-min-scaled.jpg.webp);
    background-size: cover;
  }

  .card-6 {
    background-image: url(./img/Q74KMBUDEVBSZH7WVXR3ESFCCE.avif);
    background-size: cover;
  }

  .card h3 {
    background-color: rgba(255, 255, 255, 0.672);
    padding-bottom: 7%;
    padding-top: 3%;
    text-align: center;
    justify-content: center;
    width: 105%; height: 100%;
    position: relative;
    top: 12.9em; right: 2.6%;
    border-radius: 10px;
    font-size: 100%;
  }

  .card p {
    text-align: center;
    justify-content: center;
    width: 105%; height: 100%;
    position: relative;
    top: 11em; right: 2.6%;
    border-radius: 10px;
    font-size: 100%;
  }

  

  .card p:before {
    opacity: 0;
  }

  .card p:hover::before {
    content: attr(data-content);
    opacity: 1;
  }



/* Add padding around the footer as well */

footer {
    background-color: black;
    padding: 20px 10px;
  }

  .copyright {
    color: white;
  }

  iframe {
    margin-left: 30%;
    margin-top: 15%;
    margin-bottom: 5%;
    max-height: 20em;
    max-width: 100em;
  }

  .card-7 p {
    padding: 2em;
    justify-content: center;
    text-align: center;
    width: 50%;
    font-size: 140%;
    margin-left: 25%;
  }

  .card-7 h3 {
    padding-top: 2em;
    margin-left: 24%;
    justify-content: center;
    text-align: center;
    width: 50%;
    font-size: 240%;
  }

  .card-7 {
    position: relative;
    width: 100%;
    height: 10%;
    background-color: white;
    margin-left: 0%;
    margin-top:  10%;
  }


  
  /* Sets all link texts to white and puts margin to the left and right */
  
  footer a {
    color: white;
    margin: 0 10px;
    position: relative;
    left: 45em;
  }
  

  footer a:hover {
    color: cornflowerblue;
  }

/* Esto restablece el ancho del contendor de la imagen y agrega margen a la izquierda 
*/ 

.image {
    width: 600px;
    margin-left: 80px;
  }

/* Cambia las secciones de servicio de lado-a-lado para que cada una se posicione en una sóla linea. Centra el texto. */

.stats .flex {
    flex-direction: column;
  }

  .stats {
    text-align: center;
  }

/* Asegura que cada sección en las estadísticas no exceda el ancho del elemento padre. */

.stat {
    width: 100%;
    padding-right: 80px;
  }

/* Mueve el círculo al centro de la tarjeta  */

  /* Cambia la alineación. El logo del título se queda en la parte superior, los enlaces de navegación ahora se muestran debajo*/

.navbar .flex {
    flex-direction: column;
  }


/* Cuando pasamos encima el ratón, retienen el texto blanco y cambia el borde a negro */

  .navbar a:hover {
    color: white;
    border-bottom: 2px solid black;
  }


/* Establecer el color púrpura para el fondo de los enlaces de navegación, redondear las esquinas de los bordes y darle algo de espaciado*/

  .navbar ul {
    background: #9867C5;
    border-radius: 5px;
    padding: 10px 0;
  }


/* Alinear el texto al centro */

  .showcase {
    height: auto;
    text-align: center;
  }


/* Reducir el tamaño de la fuente */

.little-info {
    font-size: 13px;
  }


/* Reducir el ancho de la imágen */

  .image {
    width: 350px;
    margin-left: 70px;
  }

  .stat {
    margin-bottom: 40px;
  }


/* Mover el círculo una vez más */

@keyframes arrow {
    0% {
    transform: translate(0px, 50px);
    }
    50% {
    transform: translate(0px, 60px);
    }
    100% {
    transform: translate(0px, 50px);
    }
    }
